@{
    ViewData["Title"] = "Kontakt";
}

<div class="text-center">
    <h3 class="display-4">Masz pytanie ?</h3>
    <p>Skontaktuj się z nami.</p>
</div>


<div>
 Uzupełnij formularz i prześlij do nas zapytanie odnośnie projektu Support2
</div>



@model KontaktZgloszenie

@using (Html.BeginForm("Kontakt", "Home", FormMethod.Post))
{
    @Html.LabelFor(m => m.Imie)
    @Html.TextBoxFor(m => m.Imie)

    @Html.LabelFor(m => m.Nazwisko)
    @Html.TextBoxFor(m => m.Nazwisko)

    @Html.LabelFor(m => m.email)
    @Html.TextBoxFor(m => m.email)

    @Html.LabelFor(m => m.opis)
    @Html.TextAreaFor(m => m.opis)

    <input type="submit" value="Wyślij">
}
<div>
    <form asp-action="Form_Kontakt" asp-controller="Home" method="post">
        Podaj Imie<br />
        <input type="text" id="imie" name="imie" required/><br />
        Podaj Nazwisko<br />
        <input type="text" id="nazwisko" name="nazwisko" required />
        <br />
        Podaj Adres Email<br />
        <input type="text" id="email" name="email" required /><br />
        Treść zapytania<br />
        <textarea style="width:400px; height:200px;" id="tresc" name="tresc" required></textarea><br />
        <input type="submit" value="Wyślij" />
    </form>
</div>