@{
    ViewData["Title"] = "Kontakt";
}

<div class="text-center">
    <h3 class="display-4">Masz pytanie ?</h3>
    <p>Skontaktuj się z nami.</p>
</div>


<div>
 Uzupełnij formularz i prześlij do nas zapytanie odnośnie projektu Support2
</div>




<div>
    @model KontaktZgloszenie

    @using (Html.BeginForm("Kontakt", "Home", FormMethod.Post))
    
    {
        @Html.LabelFor(m => m.Imie)
        <br />
        @Html.TextBoxFor(m => m.Imie)
        <br />
        @Html.LabelFor(m => m.Nazwisko)
        <br />
        @Html.TextBoxFor(m => m.Nazwisko)
        <br />
        @Html.LabelFor(m => m.email)
        <br />
        @Html.TextBoxFor(m => m.email)
        <br />
        @Html.LabelFor(m => m.opis)
        <br />
        @Html.TextAreaFor(m => m.opis)
        <br />
        <input type="submit" value="Wyślij">
    }
</div>