@model List<Support2.Models.zgloszenial>
@{
    ViewData["Title"] = "DEMO";
    Layout = "LoginLayout";
}

<h1>@ViewData["Title"]</h1>

<p>Poniżej są twoje zgłoszenia</p>

<div>
    <h3>@ViewData["Title"]</h3>
    <hr />

    @if (Model != null && Model.Any())
    {
        // Wyświetl dane
        foreach (var zgloszenial in Model)
        {
            <p>@zgloszenial.ID, @zgloszenial.Imie, @zgloszenial.Nazwisko</p>
        }
    }
    else
    {
        <p>Aktualnie nie ma zgłoszeń</p>
    }

    <form>
        <table class="table table-responsive table-hover">
            <thead>
                <tr class="table-active">
                    <th>Id</th>
                    <th>Imie</th>
                    <th>Nazwisko</th>
                    <th>email</th>
                    <th>Typ Zgloszenia</th>
                    <th>Treść zgłoszenia</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Any())
                {
                    @foreach (var zgloszenial in Model)
                    {
                        <tr>
                            <td>@zgloszenial.ID</td>
                            <td>@zgloszenial.Imie</td>
                            <td>@zgloszenial.Nazwisko</td>
                            <td>@zgloszenial.email</td>
                            <td>@zgloszenial.Typ_zgloszenia</td>
                            <td>@zgloszenial.opis</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="5">Aktualnie nie ma zgłoszeń</td>
                    </tr>
                }
            </tbody>
        </table>
    </form> 
</div>
